.home {
    .home__slider {
        min-height: 78px;
        padding-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f6f6f6;
    }

    .home__slide-item {
        text-align: center;

        span {
            font-size: 16px;
        }

        .home__slider-link {
            margin-top: 4px;

            a {
                text-decoration: none;
                color: var(--text-color);
                border-bottom: 1px solid #000;
            }
        }
    }

    .section {
        display: flex;
    }

    .banner__second {
        margin-top: 80px;

        .Banne__second-title {
            margin-left: 48px;
            font-size: 2.6rem;
            font-weight: 600;
            margin-bottom: 28px;
        }
    }
}
