.home {

    .home__slider {
        min-height: 78px;
        padding-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f6f6f6;
    }

    .home__slide-item {
        text-align: center;

        span {
            font-size: 16px;
        }

        .home__slider-link {
            margin-top: 4px;

            a {
                text-decoration: none;
                color: var(--text-color);
                border-bottom: 1px solid #000;
            }
        }
    }

    .home__banner {
        margin: 0 48px;

        .home__banner-container {
            
            .home__banner-link {
                text-decoration: none;
                color: var(--text-color);

                .home__banner-img {
                    width: 100%;
                }

                .home__banner-content {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    margin-top: 36px;
                    align-items: center;
                    
                    p {
                        font-size: 1.6rem;
                        font-weight: 500;
                    }

                    h3 {
                        font-size: 6rem;
                        line-height: 6.4rem;
                        font-weight: 800;
                        align-content: center;
                        margin: 8px 0;
                    }

                    .home__banner-content-link {
                        margin-top: 18px;
                        padding: 8px 16px;
                        border-radius: 20px;
                        background-color: var(--black-color);

                        a {
                            font-size: 1.6rem;
                            text-decoration: none;
                            color: var(--white-color);
                            font-weight: 600;
                        }

                        &:hover {
                            background-color: #6f6f6f;
                        }
                    }
                }
            }
            
        }
        
    }
}