<!-- ICON LIST -->
<ul class="header-large__icon-list">
    <li class="header-large__icon-item">
        <a [routerLink]="'/favorites'" class="header-large__icon-link" aria-label="Favorites">
            <i class="header-large__icon-hearth fa-solid fa-heart"></i>
        </a>
    </li>
    <li class="header-large__icon-item">
        <a [routerLink]="'/cart'" class="header-large__icon-link" aria-label="Cart">
            <i class="header-large__icon-cart fa-solid fa-cart-shopping"></i>
        </a>
    </li>
</ul>
